<%= form_for(staff) do |f| %>
<div class="field">
  <%= f.label :name, "员工名" %>
  <%= f.text_field :name %> <br />
  <!--show exception when name is nil -->
   <% if @staff.errors.messages_for(:name).any? %>
      <% @staff.errors.messages_for(:name).each do |message| %>
          <div class="message_errors"><%= message %></div>
       <% end %>
   <% end %>
</div>
<div class="field">
<%= f.label :mobile, "电话号" %>
<%= f.text_field :mobile %> <br />
   <% if @staff.errors.messages_for(:mobile).any? %>
      <% @staff.errors.messages_for(:mobile).each do |message| %>
          <div class="message_errors"><%= message %></div>
       <% end %>
   <% end %>

</div>

<div class="field">
  <%= f.label :status, "状态" %>
  <%
=begin%>
 <%= f.select :status, Staff.statuses.keys.map { |key, value| [key.humanize, value] },  selected: staff.status %> 
<%
=end%>
  <%= f.select :status, StaffsHelper::STATUS_MAP.map { |value, label| [label, value] }, selected: @staff.status %>



   <% if @staff.errors.messages_for(:status).any? %>
      <% @staff.errors.messages_for(:status).each do |message| %>
          <div class="message_errors"><%= message %></div>
       <% end %>
   <% end %>
   <%
=begin%>
 <%= debug @staff %> <!-- 输出 @staff 对象的属性 -->
  <%= debug Staff.statuses.keys %> <!-- 输出 Staff 的状态数组 -->
  <%= debug staff.status %> <!-- 输出 Staff 的状态数组 -->
  <%= debug StaffsHelper::STATUS_MAP[staff.status]  %> <!-- 输出 Staff 的状态数组 --> 
<%
=end%>
  
</div>


  <%= f.submit %>
<% end %>