<%= form_for(project) do |f| %>
<div class="field">
  <%= f.label :name, "项目名" %>
  <%= f.text_field :name %> <br />
  <!--show exception when name is nil -->
   <% if @project.errors.messages_for(:name).any? %>
      <% @project.errors.messages_for(:name).each do |message| %>
          <div class="message_errors"><%= message %></div>
       <% end %>
   <% end %>
</div>
<div class="field">
<%= f.label :sponsor, "发起人" %>
<%= f.text_field :sponsor %> <br />
   <% if @project.errors.messages_for(:sponsor).any? %>
      <% @project.errors.messages_for(:sponsor).each do |message| %>
          <div class="message_errors"><%= message %></div>
       <% end %>
   <% end %>

</div>

<div class="field">
  <%= f.label :amount, "金额" %>
  <%= f.text_field :amount %> <br />
   <% if @project.errors.messages_for(:amount).any? %>
      <% @project.errors.messages_for(:amount).each do |message| %>
          <div class="message_errors"><%= message %></div>
       <% end %>
   <% end %>
  
</div>


  <%= f.submit %>
<% end %>