<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :my_title %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
   <div id="banner" >
      <%= image_tag "logo.jpeg", alt: 'projects & socre' %>
      <span class="title"><%= @page_title %></span>
   </div>
    <div id="columns" >
      <div id="side">
        <ul>
          <li><a href="http://www....">Home</a></li>
          <li><a href="http://www..../faq">Questions</a></li>
          <li><a href="http://www..../news">News</a></li>
          <li><a href="http://www..../contact">Contant</a></li>
        </ul>
      </div>
     <div id="main" class="container">
        <%= notice %>
        <%= yield %>
      </div>
      </div>
  </body>
</html>
